body {
	background-color: green;
}

.card {
	width: 223px;
	height: 311px;
}

.header ul {
	margin: 0;
	padding: 0;
}

.header li {
	display: inline;
}

.no-creatures .creature { display: none; }
.no-instants .instant { display: none; }
.no-sorcerys .sorcery { display: none; }
.no-enchantments .enchantment { display: none; }
.no-artifacts .artifact { display: none; }
.no-lands .land { display: none; }

.header {
    position: fixed;
    background: white;
    padding: 1em;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid black;
}

.gallery {
	margin-top: 60px;
}
