body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.card img {
	width: 223px;
	height: 311px;
}

.header ul {
	margin: 0;
	padding: 0;
}

.header li {
	display: inline;
	margin-right: 0.5em;
}

.header a {
	text-decoration: none;
	color: black;
}

.selected {
	font-weight: bold;
}


.filtered .card {
	display: none;
}

.whites .white,
.blues .blue,
.blacks .black,
.reds .red,
.greens .green,
.multis .multi,
.colorlesss .colorless,
.creatures .creature, 
.instants .instant, 
.sorcerys .sorcery,
.enchantments .enchantment,
.artifacts .artifact, 
.lands .land {
	display: inline-block; 
}

.header {
    position: fixed;
    background: white;
    padding: 0.5em;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid #777;
}

#gallery {
	margin-top: 60px;
}
